/* Загальні стилі для всіх сторінок */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('D:/123/project/img/image_2024-12-01_12-17-39.png');

    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Навігаційна панель */
nav {
    display: flex;
    justify-content: space-between; /* Розміщення кнопок на різних краях */
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(224, 224, 224, 0.9);
    gap: 20px; /* Додатковий відступ між елементами */
}

/* Ліві кнопки */
.nav-left {
    display: flex;
    gap: 10px;
}

/* Праві кнопки */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Відстань між кнопками */
}

/* Стиль кнопок */
nav a {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    background-color: #d3d3d3;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* Ефект при наведенні на кнопки */
nav a:hover {
    background-color: #c0c0c0;
}

/* Стиль контенту */
.content {
    flex-grow: 1;
    display: none; /* Сховати всі блоки за замовчуванням */
    padding: 20px;
    text-align: center;
}

/* Стиль активного блоку */
.content.active {
    display: block;
}

/* Стиль заголовка */
.content h1 {
    font-size: 30px;
    color: #fff;
}

/* Стиль для пошукового поля */
.search-container {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 20px;
    width: 250px; /* Фіксована ширина для пошукового поля */
    margin-left: auto; /* Переміщає поле пошуку максимально вправо */
}

.search-container input[type="text"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%; /* Пошукове поле займає всю ширину контейнера */
    border-radius: 10px;
    margin-right: 10px;
}

/* Стиль іконок */
.nav-left i, .nav-right i {
    font-size: 24px;
    margin-right: 8px;
}

